<%= turbo_frame_tag "pins" do %>
  <div class="pins-list panel panel--wide center borderless unpad flex-column gap-half">
    <%= render partial: "my/pins/pin", collection: @pins %>
  </div>
<% end %>
