.projects {
  --gap: 2cqi;
  --hover-size: 0;
  --column-gap: var(--gap);
  --row-gap: var(--gap);

  list-style: none;
  padding: var(--gap);
}

.project__windshield {
  --border-radius: 1.5em;

  margin-block: 0;
  max-inline-size: 100%;
  padding: 1cqi;
}

.windshield__container {
  aspect-ratio: 16 / 9;
  container-type: inline-size;
  inline-size: 40ch;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-selected);
      border-color: var(--color-selected-dark);
    }
  }
}
